.wrapper_aziz{
    width: 100%;
    height: 200px;
    background-color: gray;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    .item_aziz{
        width: 130px;
        height: 130px;
        // background-color: red;
        .interfaceLogo1{
        width: 65px;
        height: 65px;
        background-color: #F2F3F5FF;
        background-image: url(../Images/lock.jpg);
        border-radius: 20px;
        margin: 0 auto;
        }
        .interfaceLogo2{
            width: 65px;
            height: 65px;
            background-color: #F2F3F5FF;
            background-image: url(../Images/change.png);
            border-radius: 20px;
            margin: 0 auto;
        }
        .interfaceLogo3{
            width: 65px;
            height: 65px;
            background-color: #F2F3F5FF;
            background-image: url(../Images/arrow.png);
            border-radius: 20px;
            margin: 0 auto;
        }
        h3{
            text-align: center;
            margin-top: 10px;
        }

    }



}

